body {
    font-family: 'Roboto', sans-serif;
}

.col-12 {
    max-width: 100%;
    margin: 0 auto;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-tools {
    display: flex;
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center;
}

.form-control {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
}

.input-group-append .btn {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-left: none;
}

.btn-primary {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}



.status-indicator {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 34%;
    margin-right: 16%;
    margin-top: 20%;
}

.status-indicator.active {
    background-color: green;

}

.status-indicator.inactive {
    background-color: red;
}

.user-link {
    color: #000;
    text-decoration: none;
}

.user-link:hover {
    text-decoration: underline;
}

.user-tools {
    cursor: pointer;
    transition: color 0.3s;
}

.user-tools:hover {
    color: #ff0000;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination .page-item {
    margin: 0 2px;
}

.pagination .page-link {
    display: block;
    padding: 8px 12px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    color: #ffffff;
    border-color: #007bff;
}

.pagination .page-link:hover {
    background-color: #0056b3;
    color: #ffffff;
    border-color: #0056b3;
}

.modal-content {
    text-align: center;
    padding: 20px;
}

.modal-content i {
    font-size: 5dvh;
    color: #ff0000;
}

.modal-content h4 {
    margin: 20px 0;
}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal-footer .btn {
    padding: 10px 20px;
    border-radius: 4px;
}

.modal-footer .btn-danger {
    background-color: #dc3545;
    color: #ffffff;
}

.modal-footer .btn-secondary {
    background-color: #6c757d;
    color: #ffffff;
}
