{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% load filters %}
    <style>
        .offcanvas-collapse {
        position: fixed;
        top: 0;
        right: -500px;
        width: 500px;
        height: 100%;
        background-color: white;
        box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
        overflow-y: auto;
        transition: right 0.3s ease-in-out;
        z-index: 1045;

    }

    .offcanvas-collapse.show {
        right: 0;
    }

    </style>
    <section class="bg-white mx-1">
        <div>
            <div>
<div class="form-row align-items-center mt-3">
    <div class="col-lg-10  col-sm-3 my-1">
      <label class="sr-only" for="inlineFormInputGroupUsername">Qidirish</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa-solid fa-magnifying-glass text-center d-inline"></i></div>
        </div>
       <input id="search-project" class="search-projects d-inline form-control" placeholder="Qidirish....." type="text">
      </div>
    </div>
    <div class="col-auto ">
            <div class="col-auto">
      <select class="custom-select " id="filter-all-projects">
        <option value="all" selected>Barchasi</option>
        <option value="Yangi">Boshlanmagan</option>
        <option value="Jarayonda">Jaraonda</option>
        <option value="Tugatilgan">Tugatilgan</option>
        <option value="least7">7 kun qolgan</option>
        <option value="least30">1 oy qolgan</option>
        <option value="least90">3 oy qolgan</option>
      </select>
    </div>
    </div>
    <div class="col-auto my-1">
<i style="rotate: 90deg" id="filter-table" class="fa-solid fa-sliders btn border border-dark" data-toggle="offcanvas" data-target="#offcanvasRight"></i>
    </div>
  </div>
  </div>

<div class="offcanvas-collapse" id="offcanvasRight">
    <div class="offcanvas-header">
        <h5 class="bg-secondary" style="padding: 7%">Kerakli menyularni tanlang</h5>
        <button type="button" class="close mr-4" aria-label="Close">
            <span class="btn btn-danger">&times;</span>
        </button>
    </div>
    <div class="offcanvas-body">
                           <div class="grid-container mt-3" id="filter-container">
                        <label class="grid-item">
                            <input class="cols" name="project_name" type="checkbox"> Loyiha nomi
                        </label>
                        <label class="grid-item">
                            <input class="cols" name="project_description" type="checkbox"> Loyiha haqida
                        </label>
                        <label class="grid-item">
                            <input class="cols" name="project_blog" type="checkbox"> Blok
                        </label>
                        <label class="grid-item">
                            <input class="cols" name="project_type" type="checkbox"> Loyiha turi
                        </label>
                        <label class="grid-item">
                            <input class="cols" name="project_size" type="checkbox"> Masshtab
                        </label>
                        <label class="grid-item">
                            <input class="cols" name="project_level" type="checkbox"> Muhimlilik darajasi
                        </label>
                        <label class="grid-item">
                            <input class="cols" name="project_speed" type="checkbox"> Muddat darajasi
                        </label>
                        <label class="grid-item">
                            <input class="cols" name="project_departments" type="checkbox"> Mas'ul departament(lar)
                        </label>
                        <label class="grid-item">
                            <input class="cols" name="project_team" type="checkbox"> Mas'ul xodim(lar)
                        </label>
                        <label class="grid-item">
                            <input class="cols" name="project_budget" type="checkbox"> Umumiy loyiha summasi
                        </label>
                        <label class="grid-item">
                            <input class="cols" name="project_deadline" type="checkbox"> Taxminiy yakunlash sanasi
                        </label>
                        <label class="grid-item">
                            <input class="cols" name="project_status" type="checkbox"> Loyiha statusi
                        </label>
                        <label class="grid-item">
                            <input class="cols" name="project_curator" type="checkbox"> Strategiya departamentida
                            biriktirilgan xodim
                        </label>
                        <label class="grid-item">
                            <input class="cols" name="project_spent_money" type="checkbox"> Sarflangan xarajat
                        </label>
                    </div>
        <button id="apply-changes" class="btn btn-primary" style="width: 95%;margin: 3%">Qo'llash</button>
    </div>
</div>
                <div class="table-responsive mt-4">
                    <table class="table table-striped" id="table-projects">
                        <thead>
                        <tr>
                            <th class="text-center">№</th>
                            <th class="text-center">Loyiha nomi</th>
                            <th class="text-center">Loyiha haqida</th>
                            <th class="text-center">Departamenti</th>
                            <th class="text-center">Ma'sul xodim</th>
                            <th class="text-center">Bajarilganligi</th>
                        </tr>
                        </thead>
                        <tbody id="projects-body">
                        {% for project in projects.object_list %}
                             <tr class="datas" data-url="{% url 'get-project' project.pk %}">
                                <td>{{ forloop.counter }}</td>
                                <td class="text-center" id="project_name">
                                                              <a href="{% url 'get-project' project.pk %}"
                                                                 style="color: black"> {{ project.project_name }} </a>
                                </td>
                                <td class="text-center">                             <a href="{% url 'get-project' project.pk %}"
                                                                                        style="color: black">{{ project.project_description }} </a></td>
                            <td class="text-center">                            <a href="{% url 'get-project' project.pk %}"
                                       style="color: black">
                                {% for department in project.project_departments.all %}
                                    {{ department.department_name }},
                                    {% endfor %}
                            </a>
                            </td>
                                <td class="text-center">                            <a href="{% url 'get-project' project.pk %}"
                                                                                       style="color: black">{{ project.project_curator.get_full_name }}</a></td>
                                                             <td class="text-center">                            <a href="{% url 'get-project' project.pk %}"
                                                                                       style="color: black">{{ project.project_done_percentage }}%</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% if projects.has_next %}
<nav class="mt-3 mx-2" aria-label="Page navigation">
  <ul class="pagination">
    {% if projects.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ projects.previous_page_number }}">Oldingi</a></li>
    {% endif %}
    {% for i in projects.paginator.page_range %}
      {% if i <= 10 %}
        <li class="page-item {% if projects.number == i %}active{% endif %}">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if projects.paginator.num_pages > 13 %}
      <li class="page-item disabled"><span class="page-link">...</span></li>
    {% endif %}

    {% if projects.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ projects.next_page_number }}">Keyingi</a></li>
    {% endif %}
  </ul>
</nav>
                {% endif %}

                </div>

            </div>
        </div>
    </section>
    <script type="text/javascript">
        var projects_s = {{ projects_serialized | safe }};
    </script>
    <script>
document.addEventListener('DOMContentLoaded', function () {
        var toggleButton = document.querySelector('[data-toggle="offcanvas"]');
        var offcanvasElement = document.querySelector(toggleButton.getAttribute('data-target'));
        var closeButton = offcanvasElement.querySelector('.close');

toggleButton.addEventListener('click', function (event) {
    console.log('clicked');
    offcanvasElement.classList.add('show');
    event.stopPropagation();
    setTimeout(() => {
        document.addEventListener('click', function (e) {
            let canvas = document.getElementById('offcanvasRight');
            if (!canvas.contains(e.target)) {
                offcanvasElement.classList.remove('show');
            }
        }, { once: true });
    }, 0);
});


        closeButton.addEventListener('click', function () {
            offcanvasElement.classList.remove('show');
        });
        var cols = []
        var colNames = []
        var thead = ''
        var tbody = ''
        filters = document.querySelectorAll('.cols');
        filters.forEach(value => {
            value.addEventListener('change', function (e) {
                var checked = e.target.checked
                if (checked) {
                    cols.push(value.parentNode.textContent.trim())
                    colNames.push(value.name)
                } else {
                    cols = cols.filter(item => item !== value.parentNode.textContent.trim());
                    colNames = colNames.filter(item => item !== value.name);
                }
            })
        })

        document.getElementById('apply-changes').addEventListener('click', function () {
             offcanvasElement.classList.remove('show');
            thead = ''
            tbody = ''
            cols.forEach(col => {
                thead += `<th>${col}</th>`

            })
            for (i = 0; i < projects_s.length; i++) {
                var tds = ''
                colNames.forEach(value => {
                    tds += `<td><a href=${window.location.pathname.replace('all',projects_s[i].pk)} style="color:#000;">${projects_s[i].fields[value]}</a></td>`
                })
                tbody += `<tr>${tds}</tr>`
            }
            document.getElementById('table-projects').innerHTML = `<thead><tr>${thead}</tr></thead><tbody>${tbody}</tbody>`
        })
    });
    </script>
<script src="{% static 'static/js/expense.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
    var projects_serialized = {{ all_serialized | safe }}
    </script>
{% endblock content %}
