{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load django_bootstrap5 %}

{% block content %}

    {% load static %}
      <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<div class="container">
    <div class="card" style="width: fit-content">
        <div class="card-header">
            <h1>Loyiha yaratish</h1>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
            <div class="row">
                {% for field in form %}
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
                <button type="submit" class="btn btn-primary d-block">Yaratish</button>
            </form>
        </div>
    </div>
</div>

    <script src="{%  static 'plugins/jquery/jquery.min.js' %}"></script>
    <script>
        $(function () {
      $('.select2').select2({
      tags: true
    })
                $(".select2").on("select2:select", function (evt) {
      var element = evt.params.data.element;
      var $element = $(element);
      
      $element.detach();
      $(this).append($element);
      $(this).trigger("change");
    });
    });
    </script>
    <script src="{% static 'plugins/moment/moment.min.js' %}"></script>

{% endblock content %}
