{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block content %}

<div class="bg-white">
    <div class="w-100 h-100 mt-3 row">
                <div class="col-lg-12 col-sm-12 col-md-12 col-lg-8 border">
                <div class="row mt-3 p-3">
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="card bg-light text-center" style="box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;">
                            <div class="card-header"><h5 class="text-secondary">Loyiha budgeti</h5>
                                <span id="totalBudget">{{ project.project_budget | format_number }}</span></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="card bg-light " style="box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;">
                            <div class="card-header text-center"><h5 class="text-secondary">Jami xarajatlar</h5>
                                <span
                            id="totalExpenses">{{ project.project_spent_money | format_number }}</span></div>
                        </div>
                    </div>
                                  <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="card bg-light " style="box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;">
                            <div class="card-header text-center"><h5 class="text-secondary">Qolgan budget</h5>
                                <span
                            id="budgetLeft">{% multiple_args_tag project.project_budget project.project_spent_money %}</span></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="card bg-light" style="box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;">
                            <div class="card-header text-center"><h5 class="text-secondary">Tugash sanasi</h5>
                                <span>{{ project.project_deadline | format_date }}</span></div>

                        </div>
                    </div>
                                        <div style="z-index: 1000;position: absolute;height: fit-content" id="expanse-container" class="add-expense-container box card mt-4">
                                                                    <div class="row">
                                                                        <div class="col-11"></div>
                                                                        <div class="col-1 d-flex justify-content-end"><i type="button" id="cancel-expense" class="fa-solid fa-x"></i></div>
                                                                    </div>
                                    <div class="add-budget-container" style="height: fit-content">
                    <h4 class="text-secondary">Qo'shimcha budjet</h4>
                    <form>
                        <div class="form-group">
                            <label for="budget">Summa:</label>
                            <input class="form-control {{ project.pk }}" type="text" id="budget">
                        </div>
                        <div class="btn-group w-100" role="group">
                        <button class="btn btn-primary" data-toggle="modal"
                                       data-target="#expanding-budget-btn" type="button">Qo'shish
                        </button>
                                         <button data-toggle="modal"
                                       data-target="#decreasing-budget-btn" class="btn btn-danger" type="button">Kamaytirish
                        </button>
                        </div>
                    </form>
                        <h4 class="text-secondary mt-3">Xarajat qo'shish</h4>
                        <form id="add-expense" method="post" class="{{ project.pk }}"
                          action="{% url 'add-expense' project.pk %}">

                        {% csrf_token %}
                        <div class="form-group">
                            <label for="expense">Qisqacha:</label>
                            <input name="expense" class="form-control" type="text" id="expense">
                        </div>
                        <div class="form-group">
                            <label for="amount">Summasi:</label>
                            <input name="amount" class="form-control" type="text" id="amount">
                        </div>
                        <div class="form-group">
                            <label for="amount">Sanasi:</label>
                            <input name="date" class="form-control" type="date" id="date">
                        </div>
                        <div class="form-group">
                            <input class="currency" checked type="radio" id="uzs" name="currency" value="uzs">
                            <label for="uzs">UZS</label>

                            <input class="ml-4 currency" type="radio" id="usd" name="currency" value="usd">
                            <label for="usd">USD</label>
                        </div>
                            <div class="form-group">
                            <label for="file">Fayl:</label>
                            <input name="file" type="file" id="file">
                        </div>
                            <button data-toggle="modal"
                                       data-target="#add-expense-btn" type="button" class="btn btn-primary form-control">Qo'shish
                            </button>
                                        <button data-toggle="modal" data-target="#delete-all-btn" class="btn btn-danger form-control mt-2">Barchasini o'chirish
                </button>
                    </form>
                </div>
                </div>
                </div>
                
                <div class="row">

                    <div class="col-lg-1 col-md-2 col-sm-2 d-flex justify-content-start">
                        <button id="expense-menu-toggle" class="btn btn-primary ml-2" style="font-size: 120%"><i class="fa-solid fa-receipt"></i> Yaratish</button>
                    </div>
                    <div class="col-lg-9 col-md-3 col-sm-3 position-relative h-100">
                        <i class="fa-solid fa-magnifying-glass text-center d-inline"></i>
                        <input id="search-expense" class="search d-inline border-0 form-control" placeholder="Qidirish....." type="text">
                    </div>
                    <div class="row">
                        <div class="col-3 column-canvas"></div>
                        <div></div>
                        <div class="col-3 column-canvas"></div>
                    </div>
                <div id="delete-all-btn"
                     class="modal fade"
                     tabindex="-1" role="dialog"
                     aria-hidden="true">
                    <div class="modal-dialog modal-sm modal-dialog-centered"
                         role="document">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <i class="fa-solid fa-triangle-exclamation btn-lg" style="font-size: 5dvh"></i>
                                <h4>Chindan o'chirasizmi ?</h4></div>
                            <div class="d-flex justify-content-center mb-2">
                                <button id="reset-all" project_id="{{ project.pk }}" class="btn btn-danger mr-2"><i
                                        class="fa-solid fa-trash-can"></i> O'chirish
                                </button>
                                <button class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                                <br>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
                    <table id="expenses-list-table" class="table mt-2" style="z-index: -1">
                        <thead>
                        <tr>
                            <th scope="col">Xarajat nomi</th>
                            <th scope="col">Summasi</th>
                            <th scope="col">Sana</th>
                            <th scope="col" class="col-1">document</th>
                            <th scope="col">#</th>
                        </tr>
                        </thead>
                        <tbody id="expenses-body">
                        {% for expense in expenses %}
                            <tr>
                                <td id="expense_name">{{ expense.description }}</td>
                                <td>{{ expense.quantity | format_number }}</td>
                                <td>{{ expense.date |  date:"d-m-Y" }}</td>
                                <td class="text-center">{% if expense.document %} <i type="button" expense_id="{{ expense.pk }}" style="font-size: 150%" class="fa-solid fa-{{ expense.document | get_extension }} expense_files"></i> {% else %}  {% endif %}
                                <td><i style="color: red;cursor: pointer" data-toggle="modal"
                                       data-target="#delete-expense-btn" id="{{ expense.id }}"
                                       class="fa-regular delete-expense fa-trash-can"></i></td>
                            </tr>
                            <div id="delete-expense-btn"
                                 class="modal fade"
                                 tabindex="-1" role="dialog"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-sm modal-dialog-centered"
                                     role="document">
                                    <div class="modal-content">
                                        <div class="modal-body text-center">
                                            <i class="fa-solid fa-triangle-exclamation btn-lg"
                                               style="font-size: 5dvh"></i>
                                            <h4>Chindan o'chirasizmi ?</h4></div>
                                        <div class="d-flex justify-content-center mb-2">
                                            <button id="confirm-delete-expense-btn" class="btn btn-danger mr-2"><i
                                                    class="fa-solid fa-trash-can"></i> O'chirish
                                            </button>
                                            <button id="cancel-expense-btn" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                                            <br>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
    </div>

    <div id="add-expense-btn"
                                 class="modal fade"
                                 tabindex="-1" role="dialog"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-sm modal-dialog-centered"
                                     role="document">
                                    <div class="modal-content">
                                        <div class="modal-body text-center">
                                            <i class="fa-solid fa-triangle-exclamation btn-lg"
                                               style="font-size: 5dvh"></i>
                                            <h4>Tasdiqlaysizmi ?</h4></div>
                                        <div class="d-flex justify-content-center mb-2">
                                            <button id="add-expense-button" class="btn btn-danger mr-2"><i class="fa-solid fa-square-check"></i> Tasdiqlash
                                            </button>
                                            <button id="add-expense-cancel" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                                            <br>
                                        </div>
                                    </div>

                                </div>
                            </div>
        <div id="expanding-budget-btn"
                                 class="modal fade"
                                 tabindex="-1" role="dialog"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-sm modal-dialog-centered"
                                     role="document">
                                    <div class="modal-content">
                                        <div class="modal-body text-center">
                                            <i class="fa-solid fa-triangle-exclamation btn-lg"
                                               style="font-size: 5dvh"></i>
                                            <h4>Tasdiqlaysizmi ?</h4></div>
                                        <div class="d-flex justify-content-center mb-2">
                                            <button id="budget-expand-btn" class="btn btn-danger mr-2"><i class="fa-solid fa-square-check"></i> Qo'shish
                                            </button>
                                            <button id="budget-expand-cancel" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                                            <br>
                                        </div>
                                    </div>

                                </div>
                            </div>
        <div id="decreasing-budget-btn"
                                 class="modal fade"
                                 tabindex="-1" role="dialog"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-sm modal-dialog-centered"
                                     role="document">
                                    <div class="modal-content">
                                        <div class="modal-body text-center">
                                            <i class="fa-solid fa-triangle-exclamation btn-lg"
                                               style="font-size: 5dvh"></i>
                                            <h4>Chindan kamaytirasizmi ?</h4></div>
                                        <div class="d-flex justify-content-center mb-2">
                                            <button id="budget-decrease-btn" class="btn bg-green mr-2"><i class="fa-solid fa-square-check"></i> Tasdiqlash
                                            </button>
                                            <button id="budget-decrease-cancel" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                                            <br>
                                        </div>
                                    </div>

                                </div>
                            </div>


    <script src="{% static 'static/js/expense.js' %}"></script>
    <script>
        var expenses_list = {{ serialized_expenses | safe }}
    </script>
{% endblock content %}