{% extends 'base.html' %}
{% load static %}
{% load filters %}
    {% block content %}
<link href="{% static 'plugins/bower_components/chartist/dist/chartist.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css' %}">

<link href="{% static 'css/style.min.css' %}" rel="stylesheet">
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row justify-content-center">
                <div class="row">
                                    <div class="col">
                    <div class="card bg-primary"><div class="card-body"><div class="d-flex justify-content-between align-items-center mb-3"><div><h4 class="mb-0">Loyihalar soni</h4></div><div class="icon-shape icon-md bg-light-primary text-primary rounded-2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="18" height="18" fill="currentColor"><path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"></path></svg></div></div><div><h1 class="fw-bold">{{ projects_count }}</h1><p class="mb-0"><span class="text-dark me-2"></span></p></div></div></div>

                </div>
                <div class="col">
                    <div class="card bg-warning"><div class="card-body"><div class="d-flex justify-content-between align-items-center mb-3"><div><h4 class="mb-0">Jarayondagi loyihalar</h4></div><div class="icon-shape icon-md bg-light-primary text-primary rounded-2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="18" height="18" fill="currentColor"><path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"></path></svg></div></div><div><h1 class="fw-bold">{{ projects_process }}</h1><p class="mb-0"><span class="text-dark me-2"></span></p></div></div></div>

                </div>
                <div class="col">
                    <div class="card bg-green"><div class="card-body"><div class="d-flex justify-content-between align-items-center mb-3"><div><h4 class="mb-0">Tugatilgan loyihalar</h4></div><div class="icon-shape icon-md bg-light-primary text-primary rounded-2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="18" height="18" fill="currentColor"><path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"></path></svg></div></div><div><h1 class="fw-bold">{{ project_done }}</h1><p class="mb-0"><span class="text-dark me-2"></span></p></div></div></div>

                </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">Oylik xarajatlar</h3>
                            <div id="ct-visits" style="height: 405px;">
                                <div class="chartist-tooltip" style="top: -17px; left: -12px;"><span
                                        class="chartist-tooltip-value">6</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <div class="d-md-flex mb-3">
                                <h3 class="box-title mb-0">Barcha loyihalar</h3>
                            </div>
                            <div class="table-responsive">
                                <table class="table no-wrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">#</th>
                                            <th class="border-top-0">Loyiha nomi</th>
                                            <th class="border-top-0">Holati</th>
                                            <th class="border-top-0">Summasi</th>
                                            <th class="border-top-0">Loyiha kuratori</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for project in projects %}
                                        <tr class="datas" data-url="{% url 'get-project' project.pk %}" style="cursor: pointer">
                                            <td>{{ forloop.counter }}</td>
                                            <td class="txt-oflo">{{ project.project_name }}</td>
                                            <td class="txt-oflo">{{ project.project_status }}</td>
                                            <td class="txt-oflo">{{ project.project_budget | format_number }}</td>
                                            <td class="txt-oflo">{{ project.project_curator }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            <a id="see-all-users" href="{% url 'my-projects' %}" class="btn btn-primary w-100">Barchasini ko'rish</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
        </div>

<script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>

<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


<script src="{% static 'js/app-style-switcher.js' %}"></script>


<script src="{% static 'plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js' %}"></script>

<script>
    window.total = {{ expenses | safe }};

</script>
<script src="{% static 'js/waves.js' %}"></script>


<script src="{% static 'js/sidebarmenu.js' %}"></script>


<script src="{% static 'js/custom.js' %}"></script>

<script src="{% static 'plugins/bower_components/chartist/dist/chartist.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>
<script src="{% static 'js/pages/dashboards/dashboard1.js' %}"></script>
<script src="{% static 'static/js/expense.js' %}"></script>
{% endblock content %}