{% extends 'base.html' %}
{% load static %}
{% load filters %}
    {% block content %}
<link href="{% static 'plugins/bower_components/chartist/dist/chartist.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css' %}">

<link href="{% static 'css/style.min.css' %}" rel="stylesheet">
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row justify-content-center">
                <div class="row">
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ projects_count }}<sup style="font-size: 20px"></sup></h3>

                <p>Loyihalar soni</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="{% url 'all-projects' %}" class="small-box-footer">
                Batasil <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
                </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                     <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ projects_process }}<sup style="font-size: 20px"></sup></h3>

                <p>Jarayonda</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="{% url 'all-projects' %}" class="small-box-footer">
                Batafsil <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ project_done }}<sup style="font-size: 20px"></sup></h3>

                <p>Tugatilgan</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="{% url 'all-projects' %}" class="small-box-footer">
                Batafsil <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
                </div>
                </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">Oylik xarajatlar</h3>
                            <div id="ct-visits" style="height: 405px;">
                                <div class="chartist-tooltip" style="top: -17px; left: -12px;"><span
                                        class="chartist-tooltip-value">6</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <div class="d-md-flex mb-3">
                                <h3 class="box-title mb-0">Barcha loyihalar</h3>
                            </div>
                            <div class="table-responsive">
                                <table class="table no-wrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">#</th>
                                            <th class="border-top-0">Loyiha nomi</th>
                                            <th class="border-top-0">Holati</th>
                                            <th class="border-top-0">Summasi</th>
                                            <th class="border-top-0">Loyiha kuratori</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for project in projects %}
                                        <tr class="datas" data-url="{% url 'get-project' project.pk %}" style="cursor: pointer">
                                            <td>{{ forloop.counter }}</td>
                                            <td class="txt-oflo">{{ project.project_name }}</td>
                                            <td class="txt-oflo">{{ project.project_status }}</td>
                                            <td class="txt-oflo">{{ project.project_budget | format_number }}</td>
                                            <td class="txt-oflo">{{ project.project_curator }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            <a id="see-all-users" href="{% url 'my-projects' %}" class="btn btn-primary w-100">Barchasini ko'rish</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
        </div>

<script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>

<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


<script src="{% static 'js/app-style-switcher.js' %}"></script>


<script src="{% static 'plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js' %}"></script>

<script>
    window.total = {{ expenses | safe }};

</script>
<script src="{% static 'js/waves.js' %}"></script>


<script src="{% static 'js/sidebarmenu.js' %}"></script>


<script src="{% static 'js/custom.js' %}"></script>

<script src="{% static 'plugins/bower_components/chartist/dist/chartist.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>
<script src="{% static 'js/pages/dashboards/dashboard1.js' %}"></script>
<script src="{% static 'static/js/expense.js' %}"></script>
{% endblock content %}