{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% load filters %}

        <div class="card">
            <div class="card-header">
            <div class="card-header">
<div class="form-row align-items-center">
    <div class="col-lg-7  col-sm-3 my-1">
      <label class="sr-only" for="inlineFormInputGroupUsername">Qidirish</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa-solid fa-magnifying-glass text-center d-inline"></i></div>
        </div>
       <input id="search-project" class="search-projects d-inline form-control" placeholder="Qidirish....." type="text">
      </div>
    </div>
    <div class="col-auto ">
            <div class="col-auto">
      <select class="custom-select " id="filter-all-projects">
        <option value="all" selected>Barchasi</option>
        <option value="Yangi">Boshlanmagan</option>
        <option value="Jarayonda">Jaraonda</option>
        <option value="Tugatilgan">Tugatilgan</option>
        <option value="least7">7 kun qolgan</option>
        <option value="least30">1 oy qolgan</option>
        <option value="least90">3 oy qolgan</option>
      </select>
    </div>
    </div>
                               <a class="text-end btn btn-primary" style="margin-left: 25%" href="{% url 'create-project' %}"><i class="fa-solid fa-square-plus"></i> Yaratish</a>
  </div>
            <div class="card-body p-0" style="overflow-x: auto">
                <table class="table table-striped projects-table projects">
                    <thead>
                    <tr data-url="">
                        <th scope="col">
                            No
                        </th>
                        <th scope="col">
                            Loyiha nomi
                        </th>
                        <th scope="col">
                            Loyiha haqida
                        </th>
                        <th scope="col">
                            Departamentlar
                        </th>
                                                                  <th scope="col" class="text-center" style="width: 20%">
                            Summasi

                        </th>
                                                                                          <th scope="col" class="text-center">
                            Biriktirilgan xodim

                        </th>
                        <th scope="col" class="text-center">
                            Holati
                        </th>

                    </tr>
                    </thead>
                    <tbody id="projects-body">
                    {% for project in projects %}
                        <tr class="datas" data-url="{% url 'my-projects-detail' project.pk %}">
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td id="project-name">
                                <a href="{% url 'my-projects-detail' project.pk %}" style="color: black">
                                    {{ project.project_name }}
                                </a>
                            </td>
                            <td>
                                                           <a href="{% url 'my-projects-detail' project.pk %}"
                                                              style="color: black"> {{ project.project_description }} </a>
                            </td>
                            <td >
                                                        <a href="{% url 'my-projects-detail' project.pk %}"
                                       style="color: black">
                                {% for department in project.project_departments.all %}
                                    {{ department.department_name}},
                                {% endfor %}</a>
                            </td>

                                                                                                         <td class="project-state">
                                <p>                             <a href="{% url 'my-projects-detail' project.pk %}"
                                                                   style="color: black">{{ project.project_budget | format_number}} </a></p>
                            </td>

                                                                                                                            <td class="project-state">
                                <p>                            <a href="{% url 'my-projects-detail' project.pk %}"
                                                                  style="color: black">{{ project.project_curator.get_full_name}} </a></p>
                            </td>
                                                        <td class="project_progress" style="width: 10%;">
                                <div class="progress progress-sm">
                                    <div class="progress-bar {% if project.project_status == 'Yangi' %} bg-light {% elif project.project_status == 'Jarayonda' %} bg-yellow {% elif project.project_status == 'Tugatilgan' %}bg-green{% endif %}"
                                         role="progressbar" aria-valuenow="{{ project.project_done_percentage }}"
                                         aria-valuemin="0" aria-valuemax="100"
                                         style="width: {{ project.project_done_percentage }}%">
                                    </div>
                                </div>
                                <small>
                                    {{ project.project_done_percentage }}%<br>
                                    <strong>{{ project.project_status }}</strong>
                                </small>
                            </td>

                            <td class="project-actions text-right">
<ul style="list-style: none">
    <li>
        <a class="btn btn-primary btn-sm mb-1" href="{% url 'my-projects-detail' project.pk %}">
            <i class="fas fa-folder"></i>
        </a>
    </li>
    <li>
        <a class="btn btn-info btn-sm mb-1" href="{% url 'update-project' project.pk %}">
            <i class="fas fa-pencil-alt"></i>
        </a>
    </li>
    <li>
        <button id="{{ project.pk }}" type="button" class="btn btn-danger btn-sm delete-button no-url" data-toggle="modal" data-target="#myModal">
            <i class="fas fa-trash"></i>
        </button>
    </li>
</ul>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            <nav class="mt-3 mx-2" aria-label="Page navigation">
  <ul class="pagination">
    {% if projects.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ projects.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
    {% endif %}
    {% for i in projects.paginator.page_range %}
      {% if i <= 10 %}
        <li class="page-item {% if projects.number == i %}active{% endif %}">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
      {% endif %}
              {% if i > 10 %}
        <li class="page-item {% if projects.number == i %}active{% endif %}">
          <p class="mx-2">..........</p>
        </li>
                                    <li class="page-item {% if projects.number == i %}active{% endif %}">
                  <a class="page-link" href="?page={{ projects.paginator.num_pages | add:'12' }}">{{ i }}</a>
                  </li>
                                    <li class="page-item {% if projects.number == i %}active{% endif %}">
                  <a class="page-link" href="?page={{ projects.paginator.num_pages | add:'21' }}">{{ i }}</a>
                  </li>
                  <li class="page-item {% if projects.number == i %}active{% endif %}">
                  <a class="page-link" href="?page={{ projects.paginator.num_pages }}">{{ i }}</a>
                  </li>
      {% endif %}
    {% endfor %}

    {% if projects.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ projects.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
    {% endif %}
  </ul>
</nav>
            </div>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Chindan ham loyihani o'chirasizmi ?</h4>
                    </div>
                    <div class="modal-footer">
                        <button id="confirm-delete-project" type="button" class="btn btn-primary">Ha</button>
                        <button id="cancel-delete-project" type="button" class="btn btn-danger" data-dismiss="modal">Bekor qilish
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <script src="{% static 'static/js/expense.js' %}"></script>

            </div>
        </div>

{% endblock content %}