{% extends 'base.html' %}
{% load filters %}
{% block content %}
    <div class="container-fluid">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% for pr in project %}
                           <h1> <strong>{{ pr.project_name }}</strong> - loyihasi haqida batafsil ma'lumot</h1>
                        {% endfor %}
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Loyiha haqida</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Loyiha budjeti</span>
                                            {% for ph in project %}
                                                <span class="info-box-number text-center text-muted mb-0">{{ ph.project_budget | format_number }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Sarflangan pul</span>
                                            {% for ph in project %}
                                                <span class="info-box-number text-center text-muted mb-0">{{ ph.project_spent_money | format_number }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Tugash vaqti</span>
                                            {% for ph in project %}
                                                <span class="info-box-number text-center text-muted mb-0">{{ ph.project_deadline | format_date }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                                  <div class="row mt-4">
            <nav class="w-100">
              <div class="nav nav-tabs" id="product-tab" role="tablist">
                <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Ma'lumot</a>
                <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="false">Izohlar</a>
                <a class="nav-item nav-link" id="product-rating-tab" data-toggle="tab" href="#product-rating" role="tab" aria-controls="product-rating" aria-selected="false">Muammolar</a>
              </div>
            </nav>
            <div class="tab-content p-3" id="nav-tabContent">
              <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">
                                                              {% for data in datas %}
                                                <div class="timeline">
                                                    <div class="time-label">
                                                        <div class="row bg-light" style="box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;">
                                                            <div class="col-11">
                               <span type="button" aria-controls="{{ data.phase_id }}" aria-expanded="false" data-toggle="collapse" data-target="#coll{{ data.phase_id }}" style="width: 100dvmin;padding: 1%">{{ data.phase }}</span>

                                                            </div>
                                                            <div class="col-1 bg-light" style="width: 10dvmin;">{{ data.phase_done_percentage }}%</div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="timeline-item" style="width: 100dvh;">
                                                        <div class="collapse" id="coll{{ data.phase_id }}">
                                                                                                                 <table class="table table-striped">
                                                                <thead>
                                                                <tr>
                                                                    <th scope="col" class="col-6">Task nomi</th>
                                                                    <th scope="col" class="col-2">Tugash sanasi</th>
                                                                    <th scope="col" class="col-2">Bajaruvchi shaxs</th>
                                                                    <th scope="col" class="col-2">Bajarilganligi</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                            {% for task in data.tasks %}
                                                                <tr>
                                                                    <td>{{ task.task_name }}</td>
                                                                    <td>{{ task.task_deadline }}</td>
                                                                    <td>{{ task.task_manager }}</td>
                                                                    <td>{{ task.task_done_percentage }}%</td>
                                                                </tr>
                                                            {% endfor %}
                                                                                                                                                                    </tbody>
                                                                </table>
                                                           </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            {% endfor %}
              </div>
              <div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab">
                  {% for comment in comments %}
                      <div class="card" style="padding: 30px;width: 100dvh">
                      <h9>{{ comment.author.get_full_name }}</h9>
                      <small>{{ comment.created_at }}</small>
                      <p class="mt-4 text-lg">{{ comment.comment }}</p>

                      </div>
                  {% endfor %}
              </div>
              <div class="tab-pane fade" id="product-rating" role="tabpanel" aria-labelledby="product-rating-tab">
                                {% for problem in problems %}
                      <div class="card" style="padding: 30px;width: 100dvh">
                      <h9>{{ problem.author.get_full_name }}</h9>
                      <small>{{ problem.created_at }}</small>
                      <p class="mt-4 text-lg">{{ problem.problem}}</p>

                      </div>
                  {% endfor %}
              </div>
            </div>
          </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                            {% for ph in project %}
                                <h3 class="text-primary"><i class="fas fa-paint-brush"></i>{{ ph.project_name }} </h3>
                                <p class="text-muted">{{ ph.project_description }}</p>
                                <br>
                                <div class="text-muted">
                                    <p class="text-sm">Loyiha tashabbuskori
                                        <b class="d-block">{% for author in  ph.author.all %}{{ author.department }} departamentidan {{ author.get_full_name }}{% endfor %}</b>
                                    </p>
                                    <p class="text-sm">Loyiha kuratori
                                        <b class="d-block">{{ ph.project_curator }}</b>
                                    </p>
                                                                                                    <p class="text-sm">Strategiya departamentidan hodim(lar)
                                        <b class="d-block">{% for manager in  ph.project_manager.all %}{{ manager.get_full_name }}, {% endfor %}</b>
                                    </p>
                                </div>
                            {% endfor %}
                            <h5 class="mt-5 text-muted">Loyiha fayllari</h5>
                            <ul class="list-unstyled">
                                {% for doc in documents %}
                                    <li>
                                        <a href="" class="btn-link text-secondary" download="{{ doc.document }}"><i
                                                class="fa-solid fa-link" style="margin-right: 2%"></i>
                                            <embed href="{{ doc.document }}">
                                            {{ doc.document }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </div>
{% endblock content %}