{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block content %}
    <style>
    tr {
        cursor: pointer;
    }
    </style>
    <link rel="stylesheet" href="{% static 'static/css/my_projects.css' %}">
    <div class="h-100 w-100">
        <div class="input-group mt-3" style="margin-left: 2.7%;width: 51.8%">
            <input id="search-spendings-projects" placeholder="Qidirish..." class="form-control">
        <div class="input-group-append ml-2">
                        <a href="" class="btn btn-primary" role="button" data-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-retweet"></i>
    </a>
                <div class="dropdown-menu">
        <a class="dropdown-item" href="?qualification=dept">Departamentlar bo'yicha</a>
        <a class="dropdown-item" href="?qualification=blog">Bloklar bo'yicha</a>
    </div>
        </div>
    </div>
                      <table class="table table-responsive table-bordered table-striped w-100 mb-0" id="departments-based">
                    <thead>
                      <tr>
                        <th scope="col" class="col-0">№</th>
                        <th scope="col" class="col-4">Deptartamentlar / Bloklar</th>
                        <th scope="col" class="col-1">Loyihalar</th>
                        <th scope="col" class="col-1">Yangi</th>
                        <th scope="col" class="col-1">Jarayondagi</th>
                        <th scope="col" class="col-1">Tugatilgan</th>
                        <th class="fc-direction-rtl col-2"><div class="row"><div class="col-6 text-right ml-4">Budjet<div class="col-6"></div></div></div></th>
                        <th class="fc-direction-rtl col-2"><div class="row"><div class="col-6 text-right ml-4">Xarajat<div class="col-6"></div></div></div></th>
                      </tr>
                    </thead>
                    <tbody id="spendings_table_body">

                    {% for data in dept_data %}
                      <tr class="d_datas datas" data-url="{% url 'department-detailed' data.department_id %}">
                      <td class="fc-direction-rtl text-right">{{ forloop.counter }}</td>
                        <td><strong>{{ data.department_name }}</strong></td>
                        <td>{{ data.projects_count }}</td>
                        <td>{{ data.new_projects }}</td>
                        <td>{{ data.projects_processing }}</td>
                        <td>{{ data.projects_finished }}</td>
                        <td class="fc-direction-rtl"><div class="row"><div class="col-6 text-right ml-4">{{ data.total_budget | format_number }}<div class="col-6"></div></div></div></td>
                        <td class="fc-direction-rtl"><div class="row"><div class="col-6 text-right ml-4">{{ data.total_spent | format_number }}<div class="col-6"></div></div></div></td>

                      </tr>
                    {% endfor %}
                    {% for data in b_data %}
                      <tr class="b_datas datas" data-url="{% url 'blog-detailed' data.blog_id %}">
                       <td>{{ forloop.counter }}</td>
                        <td>{{ data.blog_name }}</td>
                        <td>{{ data.projects_count_blog }}</td>
                        <td>{{ data.new_projects_blog }}</td>
                        <td>{{ data.projects_processing_blog }}</td>
                        <td>{{ data.projects_finished_blog }}</td>
                        <td class="fc-direction-rtl"><div class="row"><div class="col-6 text-right">{{ data.total_budget_blog | format_number }}<div class="col-6"></div></div></div></td>
                        <td class="fc-direction-rtl"><div class="row"><div class="col-6 text-right">{{ data.total_spent_blog | format_number }}<div class="col-6"></div></div></div></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>

    </div>

<script src="{% static 'static/js/expense.js' %}"></script>
<script src="{% static 'static/js/script.js' %}"></script>

{% endblock content %}