{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block content %}
    <link href="{% static 'plugins/bower_components/chartist/dist/chartist.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css' %}">

<link href="{% static 'css/style.min.css' %}" rel="stylesheet">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card mt-3">
                            <div class="card-body">
                                <h4 class="card-title">Jami budget</h4>
                                <div class="text-end">
                                    <h2 class="font-light mb-0"><i class="ti-arrow-up text-success"></i>{{ total_budget | format_number }}</h2>
                                    <span class="text-muted">So'm</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card mt-3">
                            <div class="card-body">
                                <h4 class="card-title">Jami sarflangan pul</h4>
                                <div class="text-end">
                                    <h2 class="font-light mb-0"><i class="ti-arrow-up text-info"></i>{{ spent_budget | format_number }}</h2>
                                    <span class="text-muted">So'm</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Choraklik xarajatlar diagrammasi</h4>
                            <div id="visits" style="height: 405px;">
                                <div class="chartist-tooltip" style="top: -17px; left: -12px;"><span
                                        class="chartist-tooltip-value">6</span>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive mt-5">
                                    <table class="table stylish-table no-wrap">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0" colspan="2">Loyihalar</th>
                                                <th class="border-top-0">Egasi</th>
                                                <th class="border-top-0">Jami xarajatlar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for project in projects %}
                                            <tr>
                                                <td style="width:50px;"><span class="round">P</span></td>
                                                <td class="align-middle">
                                                    <a href="{% url 'detailed-expanses' project.pk %}"><h6>{{ project.project_name }}</h6><small class="text-muted">{{ project.project_description }}</small></a>
                                                </td>
                                                <td class="align-middle">{% for author in project.author.all %}{{ author.get_full_name }},{% endfor %}</td>
                                                <td class="align-middle">{{ project.project_spent_money | format_number }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>

<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


<script src="{% static 'js/app-style-switcher.js' %}"></script>


<script src="{% static 'plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js' %}"></script>


<script src="{% static 'js/waves.js' %}"></script>


<script src="{% static 'js/sidebarmenu.js' %}"></script>


<script src="{% static 'js/custom.js' %}"></script>

<script src="{% static 'plugins/bower_components/chartist/dist/chartist.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>
<script src="{% static 'js/pages/dashboards/dashboard1.js' %}"></script>
{% endblock content %}