{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="col-12">
        <div class="card shadow-2-strong" style="background-color: #ffffff; height: 100dvh">
            <div class="card-header">
                <div class="row">
                    <label id="select-label-users" for="input-select" class="col-0 col-form-label">Tanlang</label>
                    <div class="col-8">
                        <select class="form-control" id="input-select-action">
                            <option>Hech nima tanlanmagan</option>
                            <option value="block">Bloklash</option>
                            <option value="unblock">Blokdan ochish</option>
                            <option value="delete-user">O'chirish</option>
                        </select>
                    </div>
                    <div class="col-0">
                        <button id="do-button-users" class="btn btn-primary">Bajarish</button>
                    </div>
                    <div class="col">
                                                                <button onclick="location.href='{% url 'hodimlar:create-user' %}'" id="add-user"
                   class="btn btn-warning mb-4" style="float: right">                <i
                   class="fa-solid fa-user-plus "></i> Yaratish</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table-bordered table-striped">
                    <table class="table table-borderless mb-0">
                        <thead>
                        <tr class="no-url">
                            <th scope="col" class="no-center"></th>
                            <th scope="col" class="no-center">№</th>
                            <th scope="col" class="no-center">FIO</th>
                            <th scope="col" class="no-center">STATUS</th>
                            <th scope="col" class="no-center">ROLI</th>
                            <th scope="col" class="no-center">RAQAMI</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% with num=0 %}
                            {% for user in object_list %}
                                <tr class="no-url">
                                    <th scope="row" class="no-center">
                                        <div class="form-check">
                                            <input class="form-check-input check-input-users" type="checkbox"
                                                   value="{{ user.id }}"/>
                                        </div>
                                    </th>
                                    <td class="no-center">{{ forloop.counter }}</td>
                                    <td class="no-center"><a href="{% url 'hodimlar:profile2' user.id %}"
                                                             style="color:#000;">{{ user.get_full_name }}</a></td>
                                    <td class="no-center">
                                        {% if user.status == 'Active' %}
                                            <i class="fa-solid fa-circle" style="color: green; margin-left: 10%;"></i>
                                        {% else %}
                                            <i class="fa-solid fa-circle" style="color: red; margin-left: 10%;"></i>
                                        {% endif %}
                                    </td>
                                    <td class="no-center">{{ user.role }}</td>
                                    <td class="no-center">{{ user.phone }}</td>
                                </tr>
                            {% endfor %}
                        {% endwith %}
                        </tbody>
                    </table>
                {% if page_obj.has_next %}
                    <nav class="mt-3 mx-2" aria-label="Page navigation">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ page_obj.previous_page_number }}"><i
                                        class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                            {% endif %}
                            {% for i in page_obj.paginator.page_range %}
                                {% if i <= 10 %}
                                    <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                                {% if i > 10 %}
                                    <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                                        <p class="mx-2">..........</p>
                                    </li>
                                    <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                                        <a class="page-link"
                                           href="?page={{ page_obj.paginator.num_pages | add:'12' }}">{{ i }}</a>
                                    </li>
                                    <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                                        <a class="page-link"
                                           href="?page={{ page_obj.paginator.num_pages | add:'21' }}">{{ i }}</a>
                                    </li>
                                    <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if projects.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ projects.next_page_number }}"><i
                                        class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'static/js/script.js' %}"></script>
{% endblock content %}
