{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="col-12">
                <div class="card mt-2">
              <div class="card-header">
                                  <div class="card-tools">
                      <div class="input-group mb-3">
  <div class="input-group-prepend">
      <input type="text" placeholder="Qidirish..." class="form-control">
<i class="btn btn-default fa-solid fa-magnifying-glass"></i>
  </div>
                                <a href="{% url 'hodimlar:create-user' %}" class="btn btn-primary ml-2">Yaratish</a>
</div>

                </div>
              </div>
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                        <tr class="no-url">
                            <th scope="col" class="no-center"></th>
                            <th scope="col" class="no-center">№</th>
                            <th scope="col" class="no-center">FIO</th>
                            <th scope="col" class="no-center">STATUS</th>
                            <th scope="col" class="no-center">ROLI</th>
                            <th scope="col" class="no-center">RAQAMI</th>
                        </tr>
                  </thead>
                  <tbody>
                                          {% with num=0 %}
                            {% for user in object_list %}
                                <tr class="no-url">
                                    <th scope="row" class="no-center">
                                        <div class="form-check">
                                            <input class="form-check-input check-input-users" type="checkbox"
                                                   value="{{ user.id }}"/>
                                        </div>
                                    </th>
                                    <td class="no-center">{{ forloop.counter }}</td>
                                    <td class="no-center"><a href="{% url 'hodimlar:profile2' user.id %}"
                                                             style="color:#000;">{{ user.get_full_name }}</a></td>
                                    <td class="no-center">
                                        {% if user.status == 'Active' %}
                                            <i class="fa-solid fa-circle" data-toggle="tooltip" data-placement="top" title="Tooltip on top" style="color: green; margin-left: 10%;"></i>
                                        {% else %}
                                            <i class="fa-solid fa-circle" style="color: red; margin-left: 10%;"></i>
                                        {% endif %}
                                    </td>
                                    <td class="no-center">{{ user.role }}</td>
                                    <td class="no-center">{{ user.phone }}</td>
                                    <td class="no-center"><i class="btn fa-solid text-danger fa-trash" data-toggle="tooltip" data-placement="top" title="O'chirish"></i>                                        {% if user.status == 'Active' %}
                                            <i class="fa-solid btn fa-lock" data-toggle="tooltip" data-placement="top" title="Bloklash"></i>
                                        {% else %}
                                           <i class="fa-solid btn fa-unlock" data-toggle="tooltip" data-placement="top" title="Blokdan ochish"></i>
                                        {% endif %}</td>
                                </tr>
                            {% endfor %}
                        {% endwith %}
                  </tbody>
                </table>
              </div>
                <div class="card-footer clearfix">
    <ul class="pagination pagination-sm m-0 float-right">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
            </li>
            {% if page_obj.number > 3 %}
                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                {% if page_obj.number > 4 %}
                    <li class="page-item"><span class="page-link">...</span></li>
                {% endif %}
            {% endif %}
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'7' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                <li class="page-item"><span class="page-link">...</span></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
            {% elif page_obj.number < page_obj.paginator.num_pages|add:'-6' %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
            </li>
        {% endif %}
    </ul>
</div>
            </div>
                </div>
    <script src="{% static 'static/js/script.js' %}"></script>
{% endblock content %}
